html, body{
  height:100%;
  width:100%;
  margin:0 0 0 0;
}

hr{
  margin:0 0 0 0;
}

a{
  text-decoration: none;
  color: white;
}

p{
  margin-top:0px;
}

.main-container{
  position:relative;
  padding: 0 0 0 250px;
  height: auto;
}

.nav-left{
  position: absolute;
  top:0; bottom: 0; left: 0;
  background-color:#847260;
  height:100%;
  min-height: 700px;
  width:250px;
}

.logo{
  padding:25px;
  width: 200px;
}

.logo img{
  width:200px;
}

.nav-item{
  padding: 15px 15px 15px 25px;
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
}

.nav-item:hover{
  background-color: #bca58d;
}

.nav-divider{
  width: 80%;
  margin: 0 auto;
}

.nav-footer{
  text-align: center;
  margin:75px 25px 25px 25px;
  color: #fff
}

.header-img{
  width: auto;
}

.content{
  margin: 35px;
}
