html, body{
  height:100%;
  width:100%;
  margin:0 0 0 0;
}

.nav-left{
  background-color:#847260;
  height:100%;
  width:250px;
}

.logo{
  padding:25px;
  width: 200px;
}

.logo img{
  width:200px;
}
