<div class="form center">
  <form class="pure-form pure-form-stacked" action="login()">
    <h1>Log In to DT:Elite</h1>

    <input class="pure-input-1" type="text" name="email" ng-model="email" placeholder="Enter your email" required>
    <input class="pure-input-1" type="password" name="password" ng-model="password" placeholder="Password" required>
    <button class="pure-button pure-button-primary" type="submit" name="login">Login</button>
    <a class="pure-button pure-button-primary" ui-sref="register">Register</a>
  </form>
</div>
