<div class="form center">
  <form class="pure-form pure-form-stacked" action="login()">
    <h1>Login to Discreet Tactical</h1>
    <span class="pure-form-message">DT:Elite Signups are currently closed. Please check back later.</span>
    <!-- Your training resource to firearm proficiency -->
    <input class="pure-input-1" type="text" name="email" ng-model="email" placeholder="Enter your email" required>
    <input class="pure-input-1" type="password" name="password" ng-model="password" placeholder="Password" required>
    <button class="pure-button pure-button-primary" type="submit" name="login">Login</button>
  </form>
</div>
